
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>CompUI</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">CompUI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto nav" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="editor-tab" data-toggle="tab" href="#editor" role="tab" aria-controls="editor" aria-selected="false">Editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="commands-tab" data-toggle="tab" href="#commands" role="tab" aria-controls="commands" aria-selected="false">Commands</a>
            </li>
        </ul>
        <span class="navbar-text">
            <small>Editing File {{ filepath }}</small>
        </span>
    </div>
</nav>

<main role="main" class="container mt-5">
    {% if fileexists %}
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
            <div class="row">
                <div class="col-4">
                    <h2>Project</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" readonly="readonly" value="{{ infos.name }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" readonly="readonly" value="{{ infos.description }}">
                    </div>
                    <h2>Parameters</h2>
                    ...
                </div>
                <div class="col-8">
                    <h2>Dependencies</h2>
                    <div id="accordion">
                        {% include "dependency.twig" with {depKey: 'require', depTitle: 'Packages (require)', show: true} %}
                        {% include "dependency.twig" with {depKey: 'require-dev', depTitle: 'Development Packages (require-dev)'} %}
                        {% include "dependency.twig" with {depKey: 'autoload', depTitle: 'Autoloaders (autoload)'} %}
                        {% include "dependency.twig" with {depKey: 'autoload-dev', depTitle: 'Development Autoloaders (autoload-dev)'} %}
                        {% include "dependency.twig" with {depKey: 'scripts', depTitle: 'Scripts (scripts)'} %}
                        {% include "dependency.twig" with {depKey: 'config', depTitle: 'Config (config)'} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="editor" role="tabpanel" aria-labelledby="editor-tab">
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <form method="post" action="/savefile">
                        <h2>Edit composer.json</h2>
                        <div id="ace" name="composerfile">{{ composerfile }}</div>
                        <textarea id="composerfilecontent" name="composerfilecontent" style="display:none;">{{ composerfile }}</textarea>
                        <button type="submit" class="btn btn-primary mt-2">Save composer.json</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="commands" role="tabpanel" aria-labelledby="commands-tab">
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <form method="post" action="/execute" target="cmdframe">
                        <h2>Execute a composer command</h2>
                        <div class="form-group">
                            <label for="selcommand">Command</label>
                            <select class="form-control" id="selcommand" name="cmd">
                                {% for cmd in commands %}
                                <option value="{{ cmd }}">{{ cmd }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Execute command</button>
                    </form>
                    <iframe name="cmdframe" style="width:100%;height: 400px; border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        composer.json file could not be loaded, be sure to set correct project-path in config.json
    </div>
    {% endif %}




</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/bootstrap/js/vendor/jquery-slim.min.js"></script>
<script src="assets/bootstrap/js/vendor/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/ace/ace.js"></script>
<script src="assets/ace/mode-json.js"></script>

<script>
  var editor = ace.edit("ace");
  var mode = ace.require("ace/mode/json").Mode;
  editor.session.setMode(new mode());

  editor.session.on('change', function(delta) {
    $('#composerfilecontent').val(editor.getSession().getValue());
  });
</script>

<style>
    #ace {
        position: relative;
        width: 100%;
        height: 70vh;
    }
</style>

</body>
</html>
